# --- Entornos virtuales ---
.venv/
venv/
env/
ENV/

# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
build/
dist/
*.manifest
*.spec

# --- Variables de entorno / secretos ---
.env
.env.*
.envrc

# --- Cache y testing ---
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# --- Jupyter ---
.ipynb_checkpoints/

# --- Datos y modelos (gestionados con DVC) ---
data/*
!data/.gitkeep
*.csv
*.parquet
*.pkl
*.joblib
*.h5
!**/dvc.yaml
!**/*.dvc

# --- Logs ---
*.log

# --- IDEs y editores ---
.vscode/
.idea/
GEMINI.md

# --- Sistema operativo ---
.DS_Store
Thumbs.db


# MLflow local
mlruns/
mlflow.db